pre {
	background-color: ghostwhite;
	color: indianred;
	font-size: .75em;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}

a.nostyle:hover{
  color: inherit;
}

a.unstyled:link {
  text-decoration: inherit;
  color: inherit;
}

a.unstyled:visited {
  text-decoration: inherit;
  color: inherit;
}

a.unstyled:hover{
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}